{% extends 'backend/add_article.html' %}

{% block btn %}
    <div class="item">
        <el-button id="edit_info" 
            data_title="{{ article_obj.title }}" 
            data_abstract = "{{ article_obj.abstract }}"
            data_pwd = "{{ article_obj.pwd }}"
            data_category = "{{ article_obj.category }}"
            data_tags = "{{ tags }}"
            data_recommend = "{{ article_obj.recommend }}"
            data_cover_id = "{{ article_obj.cover.nid }}"
            data_cover_url = "{{ article_obj.cover.url.url }}"
            type="primary" plain 
            @click="drawer = true">
            编辑文章信息
        </el-button>
    </div>
    <div class="item">
        <el-button type="success" plain @click="save_content('{{ article_obj.nid }}')">保存文章内容</el-button>
    </div>
{% endblock %}

{% block drawer %}
<!-- element-plus抽屉 -->
<el-drawer
    v-model="drawer"
    @open="handleOpen"
    title="编辑文章"
    direction="rtl"
    :lock-scroll="false"
    :before-close="add_handleClose">
    <div class="add_el_drawer_content">
        <el-collapse v-model="add_arctile_activeNames">
            <el-collapse-item class="article-basic-info" title="文章标题与简介" name="1">
                <el-input
                    v-model="title"
                    style="width: 260px"
                    placeholder="请输入文章标题"
                    clearable
                ></el-input>
                <div style="margin: 20px 0"></div>
                <el-input
                    v-model="abstract"
                    style="width: 260px"
                    :autosize="{ minRows: 2, maxRows: 4 }"
                    type="textarea"
                    placeholder="请输入文章简介 (默认截取正文) "
                ></el-input>
            </el-collapse-item>
            <el-collapse-item class="category_tags" title="文章分类与标签" name="2">
                <!-- 分类 -->
                <el-select v-model="category_id" class="category" placeholder="请选择文章分类" style="width: 240px">
                    {% for categroy in categroy_list %}
                        <el-option
                            label="{{ categroy.1 }}"
                            value="{{ categroy.0 }}"
                        ></el-option>
                    {% endfor %}
                </el-select>
                <!-- 标签 -->
                <el-select
                    v-model="tags"
                    multiple
                    filterable
                    allow-create
                    default-first-option
                    collapse-tags
                    class="tags"
                    placeholder="请选择文章标签">
                    {% for tag in tag_list %}
                        <el-option
                            label="{{ tag.title }}"
                            value="{{ tag.nid }}"
                        ></el-option>                            
                    {% endfor %}
                </el-select>
            </el-collapse-item>
            <el-collapse-item class="article_cover" title="文章封面" name="3">
                <div class="left">
                    <img id="cover_img" data="{{ c_l }}" src="/static/my/img/temp/无人机文章测试图片.png" alt="">
                </div>
                <div class="right">
                    <el-select @change="select_cover" v-model="cover_id" placeholder="请选择文章封面">
                        {% for cover in cover_list %}
                            <el-option
                                label="{{ cover.url.url }}"
                                value="{{ cover.nid }}">
                            </el-option>
                        {% endfor %}
                    </el-select>
                </div>
            </el-collapse-item>
            <el-collapse-item class="can_choose" title="文章可选设置" name="4">
                <div class="option-row">
                    <span class="label-text">是否上推荐</span>
                    <el-switch
                        v-model="recommend"
                        inline-prompt
                        active-text="是"
                        inactive-text="否"
                    ></el-switch>
                </div>
                <div class="password-row">
                    <div class="pwd_active">
                        <span class="label-text">是否加密</span>
                        <el-switch
                            v-model="pwd_active"
                            inline-prompt
                            active-text="是"
                            inactive-text="否"
                        ></el-switch>                            
                    </div>
                    <div class="pwd">
                        <el-input
                            v-if="pwd_active"
                            v-model="pwd"
                            placeholder="请输入文章密码"
                            clearable
                        ></el-input>                            
                    </div>
                </div>

            </el-collapse-item>
        </el-collapse>
        <div class="article_btn_list" >
            <el-button type="success" plain @click="edit_article('{{ article_obj.nid }}')">确认编辑</el-button>
        </div>
    </div>
</el-drawer>

{% endblock %}

{% block textarea %}
<!-- Tips: Editor.md can auto append a `<textarea>` tag -->
<textarea style="display:none;">{{ article_obj.content }}</textarea>
{% endblock %}