{% extends 'index.html' %}
{% load my_tag %}

{% block css %}
<link rel="stylesheet" href="/static/css/article_locked.css">
{% endblock %}

{% block banner %}
    {% banner 'article' article %}
{% endblock %}

{% block main %}
<section class="article-lock-card card">
    {% csrf_token %}
    <div class="lock-icon"><i class="fa fa-lock" aria-hidden="true"></i></div>
    <h1>{{ article.title }}</h1>
    <p>此文章受密码保护，请输入访问密码后继续阅读。</p>
    <el-input
        v-model="articlePassword"
        type="password"
        show-password
        autocomplete="current-password"
        maxlength="32"
        placeholder="请输入文章访问密码"
        @keyup.enter="unlock_article('{{ article.nid }}')"
    ></el-input>
    <el-button
        type="primary"
        :loading="articleUnlocking"
        @click="unlock_article('{{ article.nid }}')"
    >解锁文章</el-button>
    <span class="unlock-note">解锁状态将在当前浏览器中保留 12 小时</span>
</section>
{% endblock %}
