main{
    position: relative;
    justify-content: initial;
}
// 悬浮目录
.slider_bar{
    width: 200px;
    min-height: 100px;
    
    border-radius: 5px;
    position: absolute;
    right: 120px;
    // top: 20px;
    transition: all 0.3s;
    .title{
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

        display: flex;
        align-items: center;
        justify-content: center;

        span{
            margin-right: 6px;
        }
    }
    .body{
        padding: 10px 20px 20px 20px;
        box-sizing: border-box;
        opacity: 0;  // 透明度
        visibility: hidden; // 隐藏
        background-color: white;

        font-size: 16px;
        transition: all 0.6s;
        p{
            width: 100%;
            transition: all 0.3s;
            height: 27px;
            line-height: 27px;
            cursor: pointer;
            overflow: hidden; /* 超出部分不显示 */
            white-space: nowrap; /* nowrap不允许文字折行 initial换行显示 */
            text-overflow: ellipsis;/* 文本溢出时省略标记 */
            color: #333;
            box-sizing: border-box;
            &:hover{
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
        p.active{
            color: #ff9800;
        }
        p[tagname='H1']{
            padding-left: 0px;
        }
        p[tagname='H2']{
            padding-left: 10px;
        }
        p[tagname='H3']{
            padding-left: 15px;
        }
        p[tagname='H4']{
            padding-left: 20px;
        }
    }
}
.slider_bar.show{
    width: 250px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    &~.article{
        width: calc(100% - 270px)
    }

    .title{
        box-shadow: none;
        border-radius: 5px 5px 0 0;
        border-bottom: 1px solid #f0eeee;
    }

    .body{
        border-radius: 0 0 5px 5px;
        opacity: 1;
        visibility: visible;
        height: 300px;
    }
}
.slider_bar.fixed{
    position: fixed;
    right: 120px;
    top: 80px;
}

.article{
    width: calc(100% - 220px);
    position: relative;
    transition: all 0.3s;

    .article_artions{
        // 浮动定位
        position: fixed;
        bottom: 50px;
        right: 20%;
        z-index: 2;
        .item{
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background-color: white;
            margin-bottom: 20px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;

            flex-direction: column;// 按列排 
            font-size: 14px;

            i{
                font-size: 23px;
                cursor: pointer;
                color: #333;
            }
            i.show{
                color: #ff9800;
            }
        }
    }

    .article_title{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        h2{
            margin: 10px 0;
            
        }
        p{
            font-size: 14px;
            color: #333;
            span{
                margin-right: 10px;
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
        >div{
            margin: 10px 0;
            i{
                font-size: 14px;
                margin-right: 5px;
                &:last-child{
                    margin-right: 0;
                }
                color: #ff9800;

                &:first-child{
                    color: #333;
                }
            }
        }
    }
    .article_content{
        margin-top: 1px;
        min-height: 200px;
        background-color: white;
        width: calc(100% - 40px);
    }

    // 发布评论样式
    .comment_submit{
        margin-top: 20px;
        min-height: 200px;
        background-color: white;
        padding: 20px 20px 10px 20px;
        
        .title{
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #f0eeee;
            color: #555;
            position: relative;
            &::after{
                display: block;
                content: '';
                width: 170px;
                height: 1px;
                background-color: #333;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
        .body{
            width: calc(100% - 40px);
            margin: 0 auto;
            height: 190px;
            box-sizing: border-box;
            background-color: #f5f5f5;
            border-radius: 6px;
            box-shadow: inset 2px 2px 6px rgb(0 0 0 / 8%);
            position: relative;
            textarea{
                width: 100%;
                height: 100%;
                padding: 18px 20px;
                box-sizing: border-box;
                background-color: transparent;
                border: none;
                resize: none;  // 禁止自己调节大小

                // 删除获取焦点
                &:focus{ 
                    border: none;
                    outline: none;
                }
            }
            .submin_comment{
                width: 100px;
                height: 40px;
                border-radius: 10px;
                background-color: #ff9800;
                font-size: 15px;
                color: white;
                border: none;
                cursor: pointer;
                position: absolute;
                right: 20px;
                bottom: 20px;
            }
        }
        .footer{
            font-size: 14px;
            color: #555;
            margin-top: 10px;
            p > span{
                color: #ff9800;
            }
        }
    }

    // 评论列表
    .comment_list{
        margin-top: 20px;
        ul{
            list-style: none;
        }
        >ul{
            >li{
                width: 100%;
                display: flex;
                margin-bottom: 20px;
                >.left{
                    width: 70px;
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 5px;

                        transition: 0.3s;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
                >.right{
                    width: calc(100% - 70px);
                    border-radius: 5px;
                    background-color: white;
                    position: relative;
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
                    padding: 7px 14px;
                    // 公共删除样式
                    .deleat{
                        color: red;
                    }
                    &::after{
                        display: block;
                        content: '';
                        position: absolute;
                        left: -21px;
                        top: 15px;
                        width: 1px;
                        height: 1px;
                        border: 10px solid transparent;
                        border-right-color: white;
 
                    }
                    .comment_content{
                        margin: 5px 0;
                        img{
                            margin-top: 5px;
                            margin-right: 10px;
                            height: 120px;
                            border-radius: 5px;
                        }
                    }
                    .comment_info{
                        display: flex;
                        justify-content: space-between;
                        font-size: 14px;

                        >div >span{
                            cursor: pointer;
                            display: inline-block; 
                            margin-right: 7px;
                            &:last-child{
                                margin-right: 0px;
                            }
                        }
                    }

                    // 子评论
                    .sub_comment_list{
                        display: none; // 默认不展开
                        >div{
                            display: flex;
                            margin: 5px 0;// 子评论间的间距
                            .left{
                                width: 50px;
                                img{
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 5px;
                                    transition: 0.3s;
                                    &:hover{
                                        transform: scale(1.1);
                                    }
                                }
                            }
                            .right{
                                width: calc(100% - 50px);
                                .sub_comment_content{
                                    padding: 5px 0;
                                }
                                .sub_comment_info{
                                    display: flex;
                                    justify-content: space-between;
                                    font-size: 14px;
                                    >div >span{
                                        cursor: pointer;
                                        display: inline-block; 
                                        margin-right: 7px;
                                        &:last-child{
                                            margin-right: 0px;
                                        }
                                    }

                                }
                            }
                        }
                        .sub_comment_textarea{
                            position: relative;
                            width: 100%;
                            margin-bottom: 10px;
                            
                            >textarea{
                                resize: none;
                                width: 100%;
                                padding: 10px;
                                border: 1px solid #f0eeee;
                                border-radius: 5px;
                                background-color: #f5f5f5;

                                // 删除获取焦点
                                &:focus{ 
                                    border: none;
                                    outline: none;
                                }
                            }
                            button{
                                position: absolute;
                                bottom: 16px;
                                right: 20px;

                                width: 82px;
                                height: 33px;
                                border-radius: 10px;
                                background-color: #ff9800;
                                font-size: 15px;
                                color: white;
                                border: none;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

pre{
    position: relative;
    &:hover{
        i.code_copy{
            opacity: 1;
        }
    }
    i.code_copy{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 18px;
        opacity: 0;
        transition: all 0.3s;
        cursor: pointer;
    }
}