// 公共标签，优先级最低
.card{
    
    .title{
        display: flex;
        justify-content: space-between;// 左右排布
        align-items: center;// 上下居中
        border-bottom: 1px solid #f5f5f5;
        padding: 20px 20px 10px 20px;
        background-color: white;
        border-radius: 5px 5px 0 0;

        h2{
            font-size: 20px;
        }
        > div{
            a{
                font-size: 14px;
            }
        }
    }
    .body{
        padding: 10px 20px 20px 20px;
        background-color: white;
        border-radius: 0 0 5px 5px;
    }
}

/* 针对下拉菜单触发文字的公共样式 */
.el-dropdown-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    outline: none; /* 去掉点击时的聚焦边框 */
    font-size: 16px; 
    margin-left: 10px;

    color: #333; 

    span{
        cursor: pointer;
    }

    /* 调整右侧小箭头的间距 */
    .el-icon--right {
        margin-left: 5px;
    }
}

.el-dropdown-menu{
    a{
        color: #333;
    }
}

nav{
    width: calc(100% - 240px);
    height: 60px;
    // background-color: var(--nav_bg);
    display: flex;
    align-items: center; // 上下居中
    padding: 0 120px;
    position: fixed;// 固定定位
    z-index: 1;// 图层层级，防止被遮盖
    top: 0;
    left: 0;

    transition: all 0.3s;
    
    .left{
        width: 60%;
        position: relative;
        .logo{
            position: absolute;
            z-index: 2;
            left: -80px;
            top: 0px;
            img{
                
            }
            .logo-white{
                height: 30px;
                display: block;
                /* 参数顺序: X轴偏移 Y轴偏移 模糊半径 颜色 */
                /* 增加立体感 */
                filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
            }
            .logo-black{
                height: 30px;
                display: none;
                /* 参数顺序: X轴偏移 Y轴偏移 模糊半径 颜色 */
                filter: drop-shadow(1px 1px 1px rgba(0, 100, 200, 0.5));
            }
        }
    }
    .right{
        width: 40%;
        display: flex; // 在右面排列
        justify-content: right; // 在右面排列
        img{
            width: 20px;// 切换白天黑夜图标大小
            margin-right: 20px;
            cursor: pointer;// 小手单击图标
        }
        .el-dropdown .el-dropdown-link{
            color: white; 
        }
    }

    a{
        margin-right: 20px;
        color: white;

        &:last-child{
            margin-right: 0;   // 最后一个右边距置零
        }
    }
    a.active{
        color: #26c6e1;
    }
}

// 显示
nav.show{
    background-color: white;
    opacity: 0.95;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    a{
        color: #333;
    }
    a.active{
        color: #26c6e1;
    }
    .left .logo{
        .logo-white{
            display: none;
        }
        .logo-black{
            display: block;
        }
    }
    .right .el-dropdown .el-dropdown-link{
        color: #333; 
    }
}

// 导航条搜索 四种状态
nav .search{
    display: inline-flex;
    input{
        // 隐藏input
        width: 0;
        height: 34px;
        padding: 0;
        border: none;
        outline: none;
        transition: all 0.3s;
    }
    button{
        border: none;
        color: white;
        background-color: transparent;
        cursor: pointer;
    }
}
nav.show .search{
    button{
        color: #333;
    }
}
nav .show_search{
    input{
        width: 200px;
        border-radius: 5px 0 0 5px ;
        padding-left: 10px;
        background-color: rgba(white, 0.5);
    }
    button{
        width: 50px;
        background-color: rgba(white, 0.5);
        color: #333;
        border-radius: 0 5px 5px 0;
    }
}
nav.show .show_search{
    input{
        border: 1px solid #e5e9ef;
    }
    button{
        border: solid #e5e9ef;
        border-width: 1px 1px 1px 0;
    }
}


main{
    width: calc(100% - 240px);
    padding: 20px 120px;
    min-height: 600px;
    background-color: var(--main_bg);
    color: var(--main_color);// 内容区
    display: flex;
    justify-content: center;// 在中间排布
}

header{
    width: 100%;
    height: 500px;
    position: relative;// 轮播相对定位
    // 图片中心的文字
    .title{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);// 二次位移: 相对自身再进行位移
        z-index: 1;
        color: white;
        h1{
            font-size: 30px;
            font-weight: 400;
            text-align: center;

            margin-bottom: 10px;
        }
        p{
            font-size: 18px;
            text-align: center;
        }
    }
    > .dynamic_shuffl{
        position: absolute;// 轮播采用相对定位
        left: 0;// 相对位置
        top: 0;// 相对位置
        width: 100%;
        height: 100%;
        overflow: hidden;// 图片超出部分隐藏
        transition: all 1s;// 缓慢渐变的切换效果，不要生硬的切换图片

        opacity: 0;// 全部不显示
        &:first-child{
            opacity: 1;// 首次刷新只显示第一个页面
        }

        img{
            width: 100%;// 宽度100%
            // 不能设置高度，会变形，因此超出部分要隐藏
        }
    }
}
footer{
    width: 100%;
    display: flex;
    min-height: 150px;
    background-color: var(--footer_bg);
    color: var(--footer_color);// 内容区

    font-size: 14px;// 统一设置字体大小和颜色
    color: #333;

    .left, .right{
        width: 50%;
        display: flex;
        flex-direction: column;// 元素是从上到下竖着叠起来的
        justify-content: center;
        align-items: center;/* 让文字在水平方向居中 */
    }
    .thank{
        color: #26c6e1;
        font-size: 26px;
    }
    .version{
        display: flex;
        span{
            display: flex;
            // background-color: #333;
            justify-content: center;
            align-items: center;
            color: white;
            height: 30px;
            
            &:nth-child(1){
                background-color: #ff9800;
                border-radius: 5px 0 0 5px;
                width: 70px;
            }
            &:nth-child(2){
                background-color: #26c6da;
                border-radius: 0 5px 5px 0;
                width: 60px;
            }
        }
    }
    p{
        margin-bottom: 6px;
    }
    .contact{
        display: flex;
        justify-content: space-between;
        > div{
            position: relative;
            .qq{
                width: 80px;
                height: 80px;
                position: absolute;
                top: -30px;
                left: -19px;
                transition: all 0.4s;// 加过度
                opacity: 0;
                z-index: 0;
            }
            .wechat{
                width: 80px;
                height: 80px;
                position: absolute;
                top: -30px;
                left: -19px;
                transition: all 0.4s;// 加过度
                opacity: 0;
                z-index: 0;
            }
        }
        .svg{
            width: 40px;
            height: 40px;
            cursor: pointer;
            position: relative;
            z-index: 1;
            &:hover{
                & ~.qq{
                    top: -83px;
                    left: -19px;
                    opacity: 1;
                }
                & ~.wechat{
                    top: -83px;
                    left: -19px;
                    opacity: 1;
                }
            }
        }
    }
}