.main{
    width: 1200px;
    .news_content{
        display: flex;
        min-height: 800px;
        background-color: white;
        border-radius: 5px;
        .left{
            width: 20%;
            border-right: 1px solid #f0eeee;
            ul{
                margin-top: 10px;
                img{
                    height: 25px;
                    border-radius: 5px;
                    margin-right: 8px;
                }
                li{
                    color: #333;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    padding-left: 30%;
                    cursor: pointer;
                    transition: all 0.3s;
                }
                li[active="true"]{
                    background-color: #3a8ee6;
                    color: white;
                }
            }
        }
        .right{
            width: 80%;
            padding: 20px;
            .title{
                display: flex;
                align-items: center;
                border-bottom: 1px solid #f0eeee;
                img{
                    width: 35px;
                    border-radius: 50%;
                    margin-left: 10px;
                }
                h2{
                    font-size: 20px;
                }
            }
            .body{
                margin-top: 10px;
                ul{
                    list-style: none;
                    li{
                        height: 30px;
                        align-items: center;
                        display: flex;
                        .index{
                            width: 20px;
                            height: 20px;
                            border-radius: 5px;
                            color: white;
                            background-color: #ff9800;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 20px;
                        }
                        a{
                            width: 70%;
                        }
                        .num{
                            width: 20%;
                            display: flex;
                            justify-content: right;
                        }
                    }
                }
            }

        }
    }
}