#app{
    display: flex;
    flex-direction: row; /* 确保是左右排列 */
    width: 100%;
    overflow: hidden;    /* 防止出现整个页面的双滚动条 */
}
aside{
    width: 200px;
    height: 100vh;
    .clogan{
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        img{
            width: 80%;
        }
    }
    >ul{
        width: 100%;
        margin-top: 40px;
        >li{
            width: 100%;
            height: 40px;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: all 0.3s;
            a{
                color: #1890ff;
            }
            &:hover{
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
}
main{
    width: calc(100% - 200px);
    height: 100vh;
    box-sizing: border-box;
    background-color: #f0eeee;
    padding: 20px;
    .user_info{
        width: 100%;
        display: flex;
        background-color: white;
        border-radius: 5px;
        .left{
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 60px;
                border-radius: 50%;
            }
        }
        .right{
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            .item{
                width: 50%;
                height: 30px;
                justify-content: center;
            }
        }
    }

    // 按钮
    .action{
        width: 100%;
        height: 60px;
        margin-top: 20px;
        border-radius: 5px;
        background-color: white;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    // 修改密码
    .edit_info{
        >div{
            margin-bottom: 10px;
            label{
                display: block;
                margin-bottom: 5px;
            }
        }
    }

    // 收藏的文章
    .collection_article_all{

        margin-top: 20px;
        background-color: white;
        border-radius: 5px;
        flex-wrap: wrap;
        
        >p{
            padding-top: 10px;
            font-size: 19px;
            text-align: center;
        }
        .article_list{
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            .item{
                width: 33.33%;
                box-sizing: border-box;
                display: flex;
                padding: 20px;
                .left{
                    width: 27%;
                    img{
                        // 剪裁图片
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        object-fit: cover; // cover = 保持比例，像放大镜一样填满盒子，多余的部分会被裁剪掉
                        object-position: center; // 可选：加上这个可以让图片居中裁剪，而不是只裁剪底部

                        // &:hover{
                        //     transform: scale(1.1);// 1.1倍缩放
                        //     transition: 0.3s;// 过度
                        // }
                    }
                }
                .right{
                    width: 73%;
                    box-sizing: border-box;
                    padding-left: 20px;
                    h2{
                        font-size: 18px;
                    }
                    p{
                        display: -webkit-box; /* 必须结合的属性，将对象作为弹性伸缩盒子模型显示 */
                        -webkit-box-orient: vertical; /* 必须结合的属性，设置伸缩盒对象的子元素的排列方式 */
                        -webkit-line-clamp: 2; /* 限制显示的行数 */
                        overflow: hidden; /* 隐藏超出的内容 */
                        text-overflow: ellipsis; /* 超出部分显示省略号 */
                    }
                }
            }
        }
    }
}